body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Fixedsys", "Courier New", monospace;
}

#root {
    background: #000;
    border: 2px inset #555;
    height: 80vh;
    overflow-y: auto;
    padding: 10px;
}

/* User List Styling */
.user-list {
    border-left: 1px solid #555;
    color: #00ff00;
}

/* Specific mIRC Colors */
.message-op { color: #ff0000; font-weight: bold; } /* @Admin */
.message-sys { color: #00ffff; } /* System info */
.message-user { color: #ffffff; }

input[type="text"] {
    background: #000;
    color: #fff;
    border: 1px solid #ffffff;
    width: 100%;
    font-family: inherit;
}
